<footer class="site-footer">

    <div class="wrapper">

        <!-- disquss -->

        <!-- disquss -->

        <!-- Google Analitics -->

        <!-- Google Analitics -->

        <div align="center">
            {% if page.keywords %}
            <p>
              <strong>Tags:</strong> {{ page.keywords | strip_html | strip_newlines |
              truncate: 160 }} {% endif %}
            </p>
          </div>

        <h2 class="footer-heading" align="center"><a href="//jsdev.org/">jsdev.org</a> & {{ site.title }} </h2>
        <p align="center">Opensource project with codes on <a
                href="https://bitbucket.org/javadev-org/javadev.org">bitbucket</a>.
            You can help if you share your experience with us.
        </p>
        <p align="center">telegram group: javadev_org</p>
    </div>

</footer>